body {
    background-color: beige;
}

video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}

img {
    margin-bottom: 0.5rem;
}